<div class="container-fluid">
  <div *ngIf="this.images.length > 0 && this.relation > 1 && this.relation < 11; else noImg">
    <div class="row content">
      <div class="col-md-{{12 - relation}} container-fluid clearfix">
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <img class="swiper-slide" *ngFor="let image of images" [src]="image" alt="Image Here">
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </swiper>   
        <!-- <img class="img-responsive img-roundedimg-fluid" src="{{images[images.length-1]}}" alt="Image Here">       -->
      </div>
      <div class="col-md-{{relation}} container-fluid clearfix">
        <p> {{text}}</p>
      </div>
    </div>
  </div>
    
  <ng-template #noImg>
    <div class="row content">
      <p>{{text}}</p>
    </div>
  </ng-template>
</div>